.users-list {
  padding: 0;
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  max-width: 50rem;
  list-style: none;
  justify-content: space-between;
}

.users-list::after {
  display: block;
  content: '';
}

@media (max-width: 694px) {
  .users-list {
    display: block;
    width: 45%;
    margin: 0 auto;
  }
}